/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

body {
  background: url('../img/pattern_130.gif');
}

.container {
  position: relative;
  background: #fff;
  border-radius: 4px;
  margin-top: -10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
}

.copy {
  padding: 10px;
  margin: 30px 0 0;
  border-radius: 5px;
}
.hero-unit,
.copy {
  background: #EBE7DA;
}
.copy p {
  margin: 0;
}

.main {
  padding: 0 20px;
}